:root {
    --color-white: #fff;
    --color-black-pearls-50: #e4ebee;
    --color-black-pearls-900: #1b262c;
    --color-black-pearls-700: #3c5562;
    --color-black-pearls-400: #7799ac;

    --color-aquarius-100: #c5eaf0;
    --color-aquarius-900: #0d2e32;

    --container-max-width: 1180px;
}